.none{
    text-align: center;
}

.places-text {
    text-align: center;
    margin-bottom: 50px;
}

.places-text small {
    font-family: Roboto;
    color: #FFC342;
    font-size: 15px;
    font-weight: bolder;
}

.places-text h2 {
    font-family: Barlow Condensed;
    font-size: 55px;
    color: #191D34;
    letter-spacing: 1px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.card {
    border: 1px solid lightgray;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 80%;
    height: auto;
}

.card img {
    max-width: 100%;
    height: 300px;
    border-radius: 8px;
    cursor: pointer;
}

.cards .text {
    padding: 20px;
    font-family: Barlow Condensed;
    line-height: 50px;
}

.cards .card-box {
    display: flex;
    flex-flow: row;
    font-size: 18px;
    font-family: Roboto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cards .time {
    flex: 1;
}

.cards .location {
    flex: 2;
}

.cards .cost {
    color: #4CAFAD;
    font-size: 20px;
}

/*------------Zoom in Photos--------------*/
.zoom-img {
    float: left;
    position: relative;
    width: 100%;
    height: 320px;
    overflow: hidden;
}

.zoom-img .img-card {
    position: absolute;
    overflow: hidden;
}

.img-card img {
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}

.card:hover .zoom-img img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.more{
    background-color: #FDE02F;
    padding: .6rem;
    border-radius: 1rem;
    box-shadow:3px 3px 6px#000;
}
.more:hover{
    background-color: #f6f2dd;
    color: chocolate;
    cursor: pointer;
    box-shadow: 4px 4px 7px yellow;
}
.fot{
text-align: center;
background-color: rgb(245, 243, 128);
padding: 1rem ;
}
.fot a{
    color: black;
    text-decoration: none;
}
.fot a:hover{
    color: rgb(160, 255, 8);
    text-decoration: none;
}
@media all and (max-width: 974px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 20px;
    }

    .card {
        width: 300px;
        height: 500px;
        margin: auto;
    }

    .cards .text {
        padding: 5px;
        font-family: Barlow Condensed;
    }
}

@media all and (max-width: 1194px) {
    .places .card-box p {
        font-size: 14px;
    }
}

@media all and (max-width: 1086px) {
    .places .cards .text {
        line-height: 40px;
    }

    .cards .text .h2 {
        font-size: 12px;
    }

    .cards .img-card img {
        height: 260px;
    }
}